.search-container {
    display: flex;
    justify-content: center;
}

.search-input {
    background-color: #dbeafe;
    width: 320px;
    margin: 10px 0px;
    padding: 10px 15px;
    font-size: 20px;
    color: #1f2937;
    border-width: 0;
    border-radius: 12px;
}

.search-input::placeholder {
    color: #6b7280;
}

.search-input:focus {
    outline: none;
}
